sudo: required

language: generic

before_script:
  - wget https://github.com/ocaml/opam/releases/download/2.0.5/opam-2.0.5-x86_64-linux
  - sudo mv opam-2.0.5-x86_64-linux /usr/local/bin/opam
  - sudo chmod a+x /usr/local/bin/opam
  - opam init -y --compiler 4.08.1 --disable-sandboxing --disable-shell-hook
  - eval `opam config env`
  - opam --version
  - ocaml -version
  - opam reinstall -y bisect_ppx
  - opam install -y --deps-only .

script:
  # Run the "code under test."
  - dune build ./simple.exe
  - dune exec ./simple.exe -- travis

  # Travis => Coveralls
  - bisect-ppx-report --send-to Coveralls

  # Travis => Codecov
  - bisect-ppx-report --send-to Codecov

  # Clean up ~/.opam for better Travis caching.
  - opam clean

cache:
  directories:
    - $HOME/.opam

notifications:
  email:
    on_success: always
    on_failure: always
